{% load static %}
    <!-- About Section -->
      <section id="about">
        <div class="about container">
          <div class="col-left">
            <div class="about-img">
              <img src="{% static 'images/about-img.png' %}" alt="img">
            </div>
          </div>
          <div class="col-right">
            <h1 class="section-title">About <span>Us</span></h1>
            <h2>BRIEF HISTORY OF THE L.Y.M</h2>
            <p>
              THE LYM is the acronym of the words” Loose Your Mind. The vision of this NGO has survived since June 2018, but today has turned to be tangible based on the Sanctifying Grace of God through a young Liberian called Simon J McCritty.
              The name came as a result of the research on the Hawthorn studies in Chicago in the late 1920’s and early1930’s during the industrial history, a CHANGE IN THINKING ABOUT WORK AND PRODUCTIVITY.
              After crafting nearly all the papers work on this world changing agenda, it was successfully delivered on June 1, 2018 in the Rocky Community called Rock Hill in ELWA, Paynesville. On that same Saturday the vision was comprehensively spelled out to at least (7) seven top community dwellers but the ride to reach its zenith hasn’t been on jolly ride but a struggle that we must see alive or Die trying.
              Today the NGO has improved the lives of OVER 20 personalities including members through our evening mirror sections and have awarded financial aid on free tuition to two students one presently in the  Nazarene Academy and the David Lombel school Respectively  without a  penny from any sponsor.
              
            </p>
            <!--<a href="#" class="cta">Download Resume</a>-->
          </div>
        </div>
      </section>
      <!-- End About Section -->

