<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>LYM</title>
</head>

<body>

{% include 'lymbase/header.html' %}

  <section id="projects">


    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Our<span> Activities</span></h1>
      </div>
      <div class="all-projects">

        {% for activity in activities %}
            <div class="project-item">
              <div class="project-info">
                <h1>{{activity.activity_title}}</h1>
                <p>
                  {{activity.about_activity}}
                </p>
              </div>
              <div class="project-img">
                <img src="{{activity.activity_pic.url}}" alt="img">
              </div>
            </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <!-- End activities Section -->

{% include 'lymbase/contact_footer.html' %}
  <script src="{% static 'js/app.js' '%}"></script>
</body>

</html>