<!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>Loose</span> Your <span></span>Mind</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'home' %}" data-after="Home">Home</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="{% url 'team' %}" data-after="team">Team</a></li>
            <li><a href="{% url 'activity' %}" data-after="Activities">activities</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            <li><a href="{% url 'blogs' %}" data-after="Blogs">Blogs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
